<div  class="shop-card">



    <div class="shop-card-titel">
        <h1>{{name}}</h1>
        <p > {{preis}} €</p>
    </div>


    <div class="shop-card-pic"   >
        <img src="{{img}}" class="glas-bild" alt=""> 
        </div>

      




    <div class="shop-card-addmore">

<div (click)="CardAnzahlMinus()" class="shop-card-addmore-minus">
    <h2>-</h2>
</div>

<div class="shop-card-addmore-number">
    <h2>{{cardAnzahl}}</h2>
</div>

<div (click)="CardAnzahlPlus()" class="shop-card-addmore-plus">
    <h2>+</h2>
</div>




    </div>



    
    <div (click)="dg.KostenRechner(cardAnzahl, produkte[index].preis)" (click)="dg.AddToWarenkorb(cardAnzahl)" class="shop-card-buy">
        <h2 class="shop-card-buy-text">Warenkorb</h2>
    </div>

    











</div>
