.shop-kasten{
    background-color: rgb(245, 227, 185);
    width: 100%;
    height: 120vh;
}

.shop-kasten-kasten{
    margin: auto;
    


   
    width: 90%;
    height: 110vh;

    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw;
    grid-auto-flow: row;
    justify-content: space-evenly;
    
}