<div class="nav-kasten">

<div class="nav-kasten-text">

<h1>COSINESS</h1>
<h1>INTESITY</h1>
<h1>PASSION</h1>

</div>


<div class="nav-kasten-kirsche">
    <img [src]="Kirsche" alt="">
</div>

<div class="nav-kasten-text">

    <h1>COSINESS</h1>
    <h1>INTESITY</h1>
    <h1>PASSION</h1>
    
    </div>

    <div class="nav-kasten-kirsche">
        <img class="kirsche" [src]="Kirsche" alt="">
    </div>

    <div class="nav-kasten-text">

        <h1>COSINESS</h1>
        <h1>INTESITY</h1>
        <h1>PASSION</h1>
        
        </div>

</div>
